h1 {
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(pattern.jpeg);
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white
}

.page {
  background-color: mediumspringgreen;
}

h3 {
  font-family: helvetica;
}

.rammer {
  Background-color: lightcoral;
}

.maling {
  Background-color: skyblue;
  font-weight: bold;
  font-family: Helvetica;
}

.pris {
  font-family: helvetica;
    font-weight: bold;
  color: blue;
}
 .tekst{
   font-family: helvetica;
 }
